{% extends "base.html" %} {% load static %} {% block content %}

<script>
    $("#clinic_tab").addClass("current").siblings().removeClass("current")
</script>

<p><a class="btn btn-default" href="{% url 'clinic_patientvisit_list' %}">patientVisit Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Link</td>
        <td>name</td>
        <td>slug</td>
        <td>created</td>
        <td>last_updated</td>
        <td>patient_no</td>
        <td>visit_id</td>
        <td>radiology_no</td>
        <td>notes</td>
        <td>diagnosis</td>
        <td>prescription_id</td>
        <td>status</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.slug }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
        <td>{{ object.patient_no }}</td>
        <td>{{ object.visit_id }}</td>
        <td>{{ object.radiology_no }}</td>
        <td>{{ object.notes }}</td>
        <td>{{ object.diagnosis }}</td>
        <td>{{ object.prescription_id }}</td>
        <td>{{ object.status }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'clinic_patientvisit_create' %}">Create new patientVisit</a> {% endblock %}