<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<title>{% block title %} {% endblock %} &middot; Valentis Health</title>

	<!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


    <link rel="shortcut icon" href="images/favicon.png">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/demo.css"/>
    <link rel="stylesheet" type="text/css" href="css/tabs.css"/>
    <link rel="stylesheet" type="text/css" href="css/tabstyles.css"/>
    <link rel="stylesheet" href="css/getmdl-select.min.css">
    <script defer src="js/getmdl-select.min.js"></script>

    <script src="js/modernizr.custom.js"></script>
    <script src="js/index.js"></script>


    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
</head>

<body>
<div class="mdl-layout">
    <header class="mdl-layout__header  mdl-color--white" style="background-color: #2C5265;">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">ValentisHealth</span>
            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Contact</li>
                <li class="mdl-menu__item">Legal information</li>
            </ul>
        </div>
    </header>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
                <div class="tabs tabs-style-tzoid">
                    <nav>
                        <ul>
                            <li class=""><a href="#section-tzoid-1" class="icon icon-home"><span>Home</span></a></li>
                            <li class=""><a href="#section-tzoid-3" class="icon icon-upload"><span>Upload</span></a>
                            </li>
                            <li class=""><a href="#section-tzoid-4" class="icon icon-display"><span>Analytics</span></a>
                            </li>
                            <li><a href="#section-tzoid-5" class="icon icon-tools"><span>Settings</span></a></li>
                        </ul>
                    </nav>
                    <div class="content-wrap">
                        <section id="section-tzoid-1" class="">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric full-width">Patient Name</th>
                                    <th>Patient Id</th>
                                    <th>Phone</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">Acrylic Biden</td>
                                    <td>KL25</td>
                                    <td>+98329568374</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">James Plush</td>
                                    <td>ML50</td>
                                    <td>+123484923349</td>
                                </tr>
                                <tr>
                                    <td class="mdl-data-table__cell--non-numeric">John Doe</td>
                                    <td>JK10</td>
                                    <td>+32590248995</td>
                                </tr>
                                </tbody>
                            </table>


                        </section>

                        <section id="section-tzoid-3" class="">


                            <div class="mdl-grid">

                                <div class="mdl-card mdl-shadow--16dp util-center full-width">
                                    <div class="mdl-card__title mdl-color--teal-500">
                                        <h2 class="mdl-card__title-text mdl-color-text--white">Registration Form</h2>
                                    </div>
                                    <div class="mdl-card__supporting-text mdl-grid">


                                        <form method="POST" action="" class="full-width">
                                            <input type="hidden" name="action" value="login"/>
                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">First Name</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Last Name</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Last Name</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>
                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Phone </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Email Address</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Address </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Apartment No.</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>


                                            </div>
                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">City </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">State</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">City</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>
                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Date Of Birth </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Age</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Sex</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Social Security Number</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>

                                            <div class="mdl-grid ">
                                                <!-- Select with floating label -->
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-cell mdl-cell--6-col">
                                                    <input type="text" value="" class="mdl-textfield__input"
                                                           id="sample3" readonly>
                                                    <input type="hidden" value="" name="sample3">
                                                    <label for="sample3" class="mdl-textfield__label">Country</label>
                                                    <ul for="sample3"
                                                        class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                                        <li class="mdl-menu__item" data-val="DEU">Kenya</li>
                                                        <li class="mdl-menu__item" data-val="BLR">Belarus</li>
                                                        <li class="mdl-menu__item" data-val="RUS">Russia</li>
                                                    </ul>
                                                </div>

                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Apartment No.</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>


                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Primary Insurance </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                                <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-cell mdl-cell--6-col">
                                                    <input class="mdl-textfield__input" value="" id="country" readonly/>
                                                    <input value="" type="hidden" name="country"/>
                                                    <label class="mdl-textfield__label" for="country">Is
                                                        Subscriber/Policy Holder?</label>
                                                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu"
                                                        for="country">
                                                        <li class="mdl-menu__item" data-val="BLR">Yes</li>
                                                        <li class="mdl-menu__item" data-val="BRA">No</li>

                                                    </ul>
                                                </div>

                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Secondary Insurance </label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-cell mdl-cell--6-col">
                                                    <input class="mdl-textfield__input" value="" id="sec_ins_sub"
                                                           readonly/>
                                                    <input value="" type="hidden" name="sec_ins_sub"/>
                                                    <label class="mdl-textfield__label" for="country">Is
                                                        Subscriber/Policy Holder?</label>
                                                    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu"
                                                        for="sec_ins_sub">
                                                        <li class="mdl-menu__item" data-val="BLR">Yes</li>
                                                        <li class="mdl-menu__item" data-val="BRA">No</li>
                                                    </ul>
                                                </div>


                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Primary Insurance</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Relationship to Patient</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>


                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col">
                                                    <textarea class="mdl-textfield__input" type="text" rows="8"
                                                              id="sample5"></textarea>
                                                    <label class="mdl-textfield__label" for="sample5">Address</label>
                                                </div>
                                                <div class="mdl-cell mdl-cell--6-col">
                                                    <div class="mdl-grid ">
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                            <label class="mdl-textfield__label mdl-color-text--grey"
                                                                   for="textfield_username">Primary Insurance</label>
                                                            <input class="mdl-textfield__input" type="text"
                                                                   id="textfield_username" name="username"/>
                                                        </div>
                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                            <label class="mdl-textfield__label mdl-color-text--grey"
                                                                   for="textfield_username">Relationship to
                                                                Patient</label>
                                                            <input class="mdl-textfield__input" type="text"
                                                                   id="textfield_username" name="username"/>
                                                        </div>

                                                    </div>
                                                </div>


                                            </div>

                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Social Security</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Date of Birth</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>
                                            <div class="mdl-grid ">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">His/Her Employer</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Work Phone Number</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>

                                            </div>

                                            <div class="mdl-grid ">

                                                I hereby give permission to the persion(s) listed below to recieve
                                                information about the care of the above named patient
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Name</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                                           for="textfield_username">Realtionship</label>
                                                    <input class="mdl-textfield__input" type="text"
                                                           id="textfield_username" name="username"/>
                                                </div>
                                                <div class=" mdl-cell mdl-cell--2-col">
                                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                </div>

                                            </div>

                                            <div class="mdl-grid">


                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                                    <input class="mdl-textfield__input" placeholder="File" type="text"
                                                           id="uploadFile" readonly/>
                                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                                        <i class="material-icons">attach_file</i><input type="file"
                                                                                                        id="uploadBtn">
                                                    </div>
                                                </div>


                                            </div>


                                            <div class="mdl-cell mdl-cell--12-col send-button" align="center">

                                                <button type="submit"
                                                        class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                                                    Submit
                                                </button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>


                        </section>
                        <section id="section-tzoid-4" class="">
                            <p>4</p>
                        </section>
                        <section id="section-tzoid-5">
                            <p>5</p>
                        </section>
                    </div>
                    <!-- /content -->
                </div>
            </div>

            <div>

            </div>


        </div>
    </main>


    <script src="js/cbpFWTabs.js"></script>
    <script>
        (function () {

            [].slice.call(document.querySelectorAll('.tabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });

        })();
    </script>
</div>


<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html> 
