{% extends "base.html" %}
{% load static %}
{% static 'css/style.css' %}
{% block content %}



    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-grid">
            <form id="change_password" class="full-width" method="post">
                {% csrf_token %}
                <fieldset>

                    <span class="text-red">{{ form.non_field_errors }} {{ errors|safe }}</span>
                    <span class="text-green">{{ success|safe }}</span>
                    <div class="mdl-grid">
                        <div class=" mdl-cell mdl-cell--4-col">
                            <!-- class "mdl-textfield container" -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">

                                <!-- class "mdl-textfield__input" -->
                                <input class="mdl-textfield__input" type="password" name="current_password"
                                       id="current_password" required/>

                                <!-- class "mdl-textfield__label" -->
                                <label class="mdl-textfield__label" for="demo-input">Current Password..</label>

                            </div>
                            <span id='current_message'>{{ form.current_password.errors }}</span>
                        </div>


                        <div class=" mdl-cell mdl-cell--4-col">
                            <!-- class "mdl-textfield container" -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">

                                <!-- class "mdl-textfield__input" -->
                                <input class="mdl-textfield__input" type="password" onkeyup="validpassword(this)"
                                       id="new_pass" name="new_password" required/>

                                <!-- class "mdl-textfield__label" -->
                                <label class="mdl-textfield__label" for="demo-input">New Password..</label>


                            </div>
                            <span class="text-red" id='new_message'>{{ form.new_password.errors }}</span>
                        </div>

                        <div class=" mdl-cell mdl-cell--4-col">
                            <!-- class "mdl-textfield container" -->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">

                                <!-- class "mdl-textfield__input" -->
                                <input class="mdl-textfield__input" type="password" onkeyup="check()"
                                       id="confirm_pass" required/>

                                <!-- class "mdl-textfield__label" -->
                                <label class="mdl-textfield__label" for="demo-input">Confirm new password..</label>

                            </div>
                            <span id='confirm_message'></span>
                        </div>
                    </div>


                    <button id="submit" type="button" onclick="changePassword()"
                            class="disabled mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                        Update Password
                    </button>


                </fieldset>
            </form>

        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


    <script type="text/javascript">
        function changePassword() {
            csrfSetUP()
            new_pass = document.getElementById('new_pass')
            cur_pass = document.getElementById('current_pass')
            if (validpassword(new_pass) && cur_pass.value != "") {
                $('#change_password').submit()
            } else {
                $('#change_password').submit()
            }
        }

        function validpassword(sender) {
            var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}/;
            el = document.getElementById('new_message')
            if (!re.test(sender.value)) {
                el.innerHTML = "Your password must have atleast one digit, one lower case letter and one uppercase letter"
                return false
            }
            else {
                el.innerHTML = ""
            }
            return check()

        }

        function check() {
            console.log("matching..")
            if (document.getElementById('new_pass').value == document.getElementById('confirm_pass').value) {
                document.getElementById('confirm_message').style.color = 'green';
                document.getElementById('confirm_message').innerHTML = 'matching';
                return true
            }
            else {
                document.getElementById('confirm_message').style.color = 'red';
                document.getElementById('confirm_message').innerHTML = 'password not matching';
                return false
            }


        }


    </script>



{% endblock %}