<!DOCTYPE html> {#{% load humanize %}#} {#{% load lpo_tags %}#} {% load static %}
<html>

<head>
    <title>Admission Authorisation</title>
    <style type="text/css">
        body {
            font-size: 14px;
            font-family: Verdana;
        }
        
        h1 {
            font-family: Verdana;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        table {
            max-width: 100%;
            background-color: transparent;
        }
        
        th {
            text-align: left;
            font-weight: 700;
            color: #303641;
            padding: 3px;
        }
        
        .table {
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 15px;
        }
        
        tr {
            padding: 2.5px;
            text-align: left;
        }
        
        .table>thead>tr>th {
            vertical-align: bottom;
            border-bottom: 2px solid #ebebeb;
        }
        
        .table>tbody+tbody {
            border-top: 2px solid #ebebeb;
        }
        
        .table-bordered {
            border: 1px solid #ebebeb;
        }
        
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11 {
            float: left;
        }
        
        .col-md-3 {
            width: 25%;
        }
        
        .col-md-2 {
            width: 16.66666667%;
        }
        
        .col-md-1 {
            width: 8.33333333%;
        }
        
        @page {
            size: {
                {
                    pagesize
                }
            }
            ;
            top: 120pt;
            bottom: 130pt;
            margin:1cm;
            @frame content_frame {
                -pdf-frame-content: mainContent;
                margin-left: 1cm;
                margin-right: 1cm;
            }
            @frame footer {
                -pdf-frame-content: footerContent;
                bottom: 0cm;
                margin-left: 40px;
                margin-right: 40px;
                height: 5.5cm;
                text-align: right;
            }
            @frame header {
                -pdf-frame-content: headerContent;
                margin-left: 40px;
                margin-right: 40px;
                top: 5px;
            }
        }
    </style>
</head>

<body>
    <div id="headerContent">
        <img src="https://upload.wikimedia.org/wikipedia/en/e/e1/Sanlam_Logo.png" style="width:500px;">
        <div align="right" style="padding-top: 25px">
        </div>
    </div>
    <div class="mainContent">
        <div class="row" style="width:100%;display:block;">
            <table>
                <tbody>
                    <tr>
                        <td>

                        </td>
                        <td style="padding:0;text-align:center;font-size:14px;">
                            <div style="font-size:15px;padding-top:12px;"><strong>Admission Authorisation</strong></div>
                        </td>
                        <td style="text-align:right;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <!-- /.main-content -->
    <style>
        .admission {
            width: 30%;
            background-color: #000000;
            color: #FFFFFF;
        }
    </style>
    <table style="padding-top: 10px">
        <tr>
            <td style="width: 30%;background-color: #000000; color: #FFFFFF">
                Att:
            </td>
            <td>
                .
            </td>
            <td>
            </td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td class="admission">
                Reference No:
            </td>
            <td>
                4565
            </td>
            <td class="admission" style="width: 30%">
                Date:
            </td>
            <td>18/01/2018</td>
        </tr>
        <tr>

        </tr>
        <tr>
            <td class="admission">
                No of Days:
            </td>
            <td>
                5
            </td>
            <td class="admission" style="width: 30%">
                Limit Up to(Kes):
            </td>
            <td>20,000</td>
        </tr>

        </tr>
        <tr></tr>
        <tr>
            <td class="admission">
                Authority type:
            </td>
            <td>
                IN PATIENT
            </td>

            <td class="admission" style="width: 30%">
                Ward:
            </td>
            <td>GENERAL WARD</td>
        </tr>
        <tr></tr>
        <tr>
            <td class="admission">
                Provider:
            </td>
            <td>
                AGA KHAN HOSPITAL, NAIROBI
            </td>
            <td class="admission" style="width: 30%">
                Day bed charges:
            </td>
            <td>10,000</td>
        </tr>
    </table>


    <table>
        <tr></tr>
        <tr></tr>
        <tr>
            <td class="admission">
                Re:
            </td>
            <td>
                JACKLINE WANGUI MULANDI
            </td>
            <td class="admission" style="width: 30%">
                Day bed charges:
            </td>
            <td>
                CZ1-18256-01
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td class="admission">
                Corpotate:
            </td>
            <td COLSPAN="3">
                CHINA ZHONGTIAN INVESTIMENT LTD(SWISS LENANA MOUNT HOTEL)
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td class="admission">
                Notes:
            </td>
            <td COLSPAN="3">
                sksllslslslsneiiepfgmfk kllwl
            </td>
        </tr>
    </table>
    <!-- <pdf:nextpage /> -->
    <div>
        <p>This is to confirm that the above is a valid member of Salam Insurance Company</p>
        <strong>Note:</strong>
        <p>
            1) Sanlam insurance Company will pay the medical bill Net of NHIF Rebate.<br> 2) A copy of this letter and the discharge summary should be attached to the claim<br> 3) Any bills incurred beyond these limit without communication to Sanlam are
            not payable.<br> 4) Any admissions beyond three days requires a comprehensive medical report requesting for extension <br> of time and if this is not done Sanlam is not liable for bills incurred there after.<br> 5) For all smart card holders,
            the card must be run ot this letter will not be honored.
        </p>
    </div>

    <div id="footerContent">
        <strong><p>Paul Akoswa<br>
              Care Co-ordinator</p></strong>
    </div>
</body>

</html>