/* TODO: Hover and Focus state.
            *       Fix position of mobile search button.
            */
.mdh-expandable-search {
    margin: 0 0;
    align-items: center;
    justify-content: center;
}

.mdh-expandable-search form {
    max-width: 600px;
    max-height: 50px !important;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
    /* Cross browser flex-grow */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
    /* Cross browser inline-flex */
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
    position: relative;
    right: -40px;
    margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
    outline: none;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #78909C;
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
    color: #FFFFFF;
}

.mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #FFFFFF;
    opacity: 1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #FFFFFF;
    opacity: 1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}

.mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #FFFFFF;
}

/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
    .mdl-layout__header-row {
        padding: 0 40px 0 40px;
    }
}

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
    right: -7px;
    top: -8px;
}