{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'payments_cash_list' %}">cash Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>items</td><td>{{ object.items }}</td></tr>
<tr><td>amount_payed</td><td>{{ object.amount_payed }}</td></tr>
<tr><td>total_cost</td><td>{{ object.total_cost }}</td></tr>
<tr><td>balance</td><td>{{ object.balance }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit cash</a>

{% endblock %}