{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'payments_member_anniversary_list' %}">member_anniversary Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
    <td>member_no</td>
    <td>start_date</td>
    <td>end_date</td>
    <td>anniv</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.member_no }}</td>
    <td>{{ object.start_date }}</td>
    <td>{{ object.end_date }}</td>
    <td>{{ object.anniv }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'payments_member_anniversary_create' %}">Create new member_anniversary</a>
{% endblock %}