{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'payments_member_anniversary_list' %}">member_anniversary Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>member_no</td><td>{{ object.member_no }}</td></tr>
<tr><td>start_date</td><td>{{ object.start_date }}</td></tr>
<tr><td>end_date</td><td>{{ object.end_date }}</td></tr>
<tr><td>anniv</td><td>{{ object.anniv }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit member_anniversary</a>

{% endblock %}