{% extends "base.html" %} {% load static %} {% block content %}
<p><a class="btn btn-default" href="{% url 'payments_member_info_list' %}">member_info Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Link</td>
        <td>family_no</td>
        <td>created</td>
        <td>last_updated</td>
        <td>member_no</td>
        <td>surname</td>
        <td>first_name</td>
        <td>other_name</td>
        <td>dob</td>
        <td>user_id</td>
        <td>date_entered</td>
        <td>cancelled</td>
        <td>employment_no</td>
        <td>gender</td>
        <td>passport_no</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.family_no }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
        <td>{{ object.member_no }}</td>
        <td>{{ object.surname }}</td>
        <td>{{ object.first_name }}</td>
        <td>{{ object.other_name }}</td>
        <td>{{ object.dob }}</td>
        <td>{{ object.user_id }}</td>
        <td>{{ object.date_entered }}</td>
        <td>{{ object.cancelled }}</td>
        <td>{{ object.employment_no }}</td>
        <td>{{ object.gender }}</td>
        <td>{{ object.passport_no }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'payments_member_info_create' %}">Create new member_info</a> {% endblock %}