{% extends "base.html" %} {% load static %} {% block content %}
<script>
$("#pre_authorization_tab").addClass("current").siblings().removeClass("current");
</script>
{#<p><a class="btn btn-default" >pre_authorization Form</a></p>#}

    <div class="mdl-grid">
    <!--  profile card -->
        <!-- Square card -->
        <style>
        .demo-card-square.mdl-card {
          width: 320px;
          height: 300px;
        }
        .demo-card-square > .mdl-card__title {
          color: #fff;
            min-height: 250px;
          max-height: 300px;
          background:
            url('/media/profile.png') bottom right 15% no-repeat #3C5D73;
        }
            {#.mdl-card__supporting-text {#}
            {#     height: 320px;#}
            {#}#}
        </style>

        <div class="demo-card-square mdl-card  mdl-cell mdl-cell--3-col mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">{{ object.name }}</h2>
              </div>

{#              <div class="mdl-card__supporting-text">#}
{#                Member status - {% if object.is_active %}Active {% else %}Inactive{% endif %}<br>#}
{#                {{ object.get_aniversary_start }} - {{ object.get_aniversary_end }}#}
{#              </div>#}
              <div class="mdl-card__actions center-items mdl-card--border">
                    <table class="mdl-data-table mdl-js-data-table mdl-cell--3-col">
{#                        <tr>#}
{#                            <td>Limit</td>#}
{#                            <td>Ksh. 200,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Outpatient</td>#}
{#                             <td>Ksh. 200,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Inpatient</td>#}
{#                             <td>Ksh. 100,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Dental</td>#}
{#                             <td>Ksh. 20,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Maternity</td>#}
{#                             <td>Ksh. 30,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Claim</td>#}
{#                             <td>Ksh. 80,000</td>#}
{#                        </tr>#}
{#                         <tr>#}
{#                             <td>Balance</td>#}
{#                             <td>Ksh. 160,000</td>#}
{#                        </tr>#}

                    </table>
              </div>

        </div>
        <!-- end profile card -->

<table class="mdl-data-table mdl-js-data-table mdl-shadow--3dp mdl-cell mdl-cell--6-col mdl-typography--text-right">
    <tr>
        <td>Name</td>
        <td style="margin: 20px">{{ object.name }}</td>
    </tr>

    <tr>
        <td>Created</td>
        <td>{{ object.created }}</td>
    </tr>
    <tr>
        <td>Preauthorization Type</td>
        <td>{{ object.internal_notes }}</td>
    </tr>
    <tr>
        <td>Member no</td>
        <td>{{ object.member_no }}</td>
    </tr>
    <tr>
        <td>Provider</td>
        <td>{{ object.get_provider }}</td>
    </tr>
    <tr>
        <td>Date reported</td>
        <td>{{ object.date_reported }}</td>
    </tr>
    <tr>
        <td>Reported by</td>
        <td>{{ object.reported_by }}</td>
    </tr>
    <tr>
        <td>Authorized by</td>
        <td>{{ object.authorized_by }}</td>
    </tr>
    <tr>
        <td>Date authorized</td>
        <td>{{ object.date_authorized }}</td>
    </tr>
    <tr>
        <td>Pre diagnosis</td>
        <td>{{ object.pre_diagnosis }}</td>
    </tr>
    <tr>
        <td>Authority type</td>
        <td>{{ object.get_authority_type }}</td>
    </tr>
    <tr>
        <td>Ward</td>
        <td>{{ object.get_ward }}</td>
    </tr>
    <tr>
        <td>Available limit</td>
        <td>{{ object.available_limit }}</td>
    </tr>
    <tr>
        <td>Days to admit</td>
        <td>{{ object.admit_days }}</td>
    </tr>
    <tr>
        <td>Date admitted</td>
        <td>{{ object.date_admitted }}</td>
    </tr>
    <tr>
        <td>Reserve</td>
        <td>{{ object.reserve }}</td>
    </tr>
    <tr>
        <td>Notes</td>
        <td>{{ object.notes }}</td>
    </tr>
{#    <tr>#}
{#        <td>anniv</td>#}
{#        <td>{{ object.anniv }}</td>#}
{#    </tr>#}
    <!-- <tr><td>auth_batch_no</td><td>{{ object.auth_batch_no }}</td></tr> -->
    <tr>
        <td>Day bed charge</td>
        <td>{{ object.day_bed_charge }}</td>
    </tr>
{#    <tr>#}
{#        <td>date_admitted</td>#}
{#        <td>{{ object.date_admitted }}</td>#}
{#    </tr>#}
    <tr>
        <td>Reference No</td>
        <td>{{ object.code }}</td>
    </tr>
{#    <tr>#}
{#        <td>Batch No</td>#}
{#        <td>{{ object.code }}</td>#}
{#    </tr>#}
</table>

</div>
{% endblock %}