{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
           <script>
         $("#pre_authorization_tab").addClass("current").siblings().removeClass("current");
            </script>

    <p><a class="btn btn-default" href="{% url 'payments_pre_authorization_list' %}">pre_authorization Listing</a></p>


    <div class="mdl-grid full-width">

        <div class="mdl-shadow--16dp util-center full-width">
            <div class="mdl-card__title mdl-color--teal-500">
                <h2 class="mdl-card__title-text mdl-color-text--white">Preauthorisation form</h2>
            </div>

            <div class="mdl-grid" id="search_members">
                <!-- Wide card with share menu button -->
                <style>
                    .demo-card-wide.mdl-card {
                        width: 512px;
                    }

                    .demo-card-wide > .mdl-card__title {
                        color: #fff;
                        height: 176px;
                        background: url('../assets/demos/welcome_card.jpg') center / cover;
                    }

                    .demo-card-wide > .mdl-card__menu {
                        color: #fff;
                    }
                </style>

                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <!-- Search -->
                    <style>
                        /* TODO: Hover and Focus state.
     *       Fix position of mobile search button.
     */
                        .mdh-expandable-search {
                            margin: 0 50px;
                            align-items: center;
                            justify-content: center;
                        }

                        .mdh-expandable-search form {
                            max-width: 600px;
                        }

                        .mdh-expandable-search,
                        .mdh-expandable-search form,
                        .mdh-expandable-search input {
                            /* Cross browser flex-grow */
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                            flex-grow: 1;
                        }

                        .mdh-expandable-search,
                        .mdh-expandable-search form {
                            /* Cross browser inline-flex */
                            display: -webkit-inline-box;
                            display: -webkit-inline-flex;
                            display: -moz-inline-box;
                            display: -ms-inline-flexbox;
                            display: inline-flex;
                        }

                        /* Position search icon */
                        .mdh-expandable-search .material-icons {
                            position: relative;
                            right: -40px;
                            margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
                        }

                        .mdh-expandable-search input {
                            outline: none;
                            border: none;
                            font-size: 16px;
                            color: #FFFFFF;
                            background-color: #78909C;
                            padding: 0px 35px 0px 70px;
                            height: 40px;
                            line-height: 40px; /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */

                            border-radius: 5px 5px 5px 5px;
                            -moz-border-radius: 5px 5px 5px 5px;
                            -webkit-border-radius: 5px 5px 5px 5px;
                        }

                        .mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
                            color: #FFFFFF;
                        }

                        .mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                            color: #FFFFFF;
                            opacity: 1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
                        }

                        .mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
                            color: #FFFFFF;
                            opacity: 1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
                        }

                        .mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
                            color: #FFFFFF;
                        }

                        /* Bug fix: https://github.com/google/material-design-lite/issues/1078
                         * To much padding on the left of header when the menu button is hidden */
                        @media screen and (min-width: 851px) {
                            .mdl-layout__header-row {
                                padding: 0 40px 0 40px;
                            }
                        }

                        /* Bug fix for badges being in the wrong location */
                        .mdl-badge[data-badge]:after {
                            right: -7px;
                            top: -8px;
                        }
                    </style>

{#                    preauth scrips#}
                    <script>
                        //       hide the two icons if the search box is below a certain size.
                        $(document).ready(function () {
                            $('.mdh-toggle-search').click(function () {
                                // No search bar is currently shown
                                if ($(this).find('i').text() == 'search') {
                                    $(this).find('i').text('cancel');
                                    $(this).removeClass('mdl-cell--hide-tablet mdl-cell--hide-desktop'); // Ensures the close button doesn't disappear if the screen is resized.

                                    $('.mdl-layout__drawer-button, .mdl-layout-title, .mdl-badge, .mdl-layout-spacer').hide();
                                    $('.mdl-layout__header-row').css('padding-left', '16px'); // Remove margin that used to hold the menu button
                                    $('.mdh-expandable-search').removeClass('mdl-cell--hide-phone').css('margin', '0 16px 0 0');

                                }
                                // Search bar is currently showing
                                else {
                                    $(this).find('i').text('search');
                                    $(this).addClass('mdl-cell--hide-tablet mdl-cell--hide-desktop');

                                    $('.mdldrugs-layout__drawer-button, .mdl-layout-title, .mdl-badge, .mdl-layout-spacer').show();
                                    $('.mdl-layout__header-row').css('padding-left', '');
                                    $('.mdh-expandable-search').addClass('mdl-cell--hide-phone').css('margin', '0 50px');
                                }

                            });




                        });

{#                        $('tr').click(function () {#}
{#                            console.log(this.first().text())#}
{#                            location.href = this.first().text();#}
{#                        });#}
                        function searchMembers(str){
                            var link = "http://127.0.0.1:8000/payments/api/v1/member_info/"

                            $('#search_table tbody').children().remove();

                            console.log(str)
                                $.ajax({
                                url: "http://127.0.0.1:8000/payments/api/v1/member_info/",
                                type: "get",
                                data: {

                                    search: str,
                                },
                                success: function (json) {
                                    console.log(json)
                                    if (json.length === 0) {
                                        $("#no_result").show()
                                        $('#searchresult').hide()

                                    } else {

                                        $("#no_result").hide()
                                        $('#searchresult').show()
                                        var tbody = $('#search_table tbody'), props = ["member_no","first_name","surname"]
                                        $.each(json, function (i, reservation) {
{#                                            var action = "window.location.href='" + link + json[i].member_no + "'"#}
                                            var action = 'preAuth(\''+json[i].member_no+'\')'
                                            var tr = $("<tr onclick="+action+">");
                                            $.each(props, function (i, prop) {
                                                $('<td class="mdl-data-table__cell--non-numeric">').html(reservation[prop]).appendTo(tr);
                                            });
                                            tbody.append(tr);
                                        });

                                    }

                                }

                            })
                            }

                        function preAuth(strng){

                            $("#search_members").hide()
                            $("#preauth").show()
                            getBenefits(strng)
                            getAnniv(strng)

                            $.ajax({
                                url: "http://127.0.0.1:8000/payments/member_info/" +strng.toLowerCase(),
                                type: "get",

                                success: function (json) {
                                    var data = json
                                    console.log("http://127.0.0.1:8000/payments/member_info/" +strng.toLowerCase())
                                    console.log(json)
                                    var data = json
                                    if (json.length != 0) {
{#                                        $(selector).val(value)#}
                                        $('input[name="member_no"]').val(strng)
                                        console.log(json)
                                        $('input[name="name"]').val(json[0].first_name +" "+json[0].surname)
                                        $('#dob').text(json[0].dob)
                                        var gender = ""

                                        if (json[0].gender == 1) {
                                            gender = "M"
                                        } else { gender = "F" }
                                        $('#gender').text(gender)
                                        $('#names').text(json[0].first_name +" "+json[0].surname)



                                    } else {

                                    }
                                }
                            })

                        }

                        function getBenefits(strng){
                            $("#search_members").hide()
                            $("#preauth").show()

                            $.ajax({
                                url: "http://127.0.0.1:8000/payments/member_benefits/" +strng.toLowerCase(),
                                type: "get",

                                success: function (json) {
                                    var data = json
                                    console.log(json)
                                    var data = json
                                    var benefitslist =[]
                                    if (json.length != 0) {
{#                                        $(selector).val(value)#}
                                        $('input[name="member_no"]').val(strng)
                                        console.log(json)
                                        $.each(json, function(i, benefit){
                                            $("#limit").text(benefit.limit)
                                            benefitslist.push(benefit)

                                        })

                                        $('#benefitslist').empty();
                                        $("#isactive").text("User Active")
                                        $.each(benefitslist, function (i, benefit) {
                                            console.log(json[0].suspended==1)
                                            if(json[0].suspended==1){
                                            $("#isactive").text("User Cancelled")
                                                $("#submit").attr("disabled","disabled")
                                        } else {
                                                $("#submit").removeAttr('disabled');
                                            }
                                            console.log(benefit)
                                            var value = i+1
{#                                                                                        $('#benefits').append($('<option data-name=\''+benefit+'\' onclick="setValue(this)" class="mdl-menu__item" data-val="'+value+'"></li>').html(benefit));#}

                                            $('#benefits').append($('<option onclick="setValue(this)"  value="'+value+'"></option>').html(benefit.name));
                                        });
                                        $(document).ready(function() {
{#    $('select').material_select();#}
  });


                                    } else {

                                    }
                                }
                            })

                        }

                        function setValue(str) {
{#                            console.log(str)#}
{#                            str = $(str).attr("data-val")#}
{#                            $(document).ready(function () {#}
{#                                $('input[name="auth"]').val($(str).attr("data-name"))#}
{##}
{#                            $('input[name="authority_type"]').val($(str).attr("data-val"))#}
{##}
{#                            })#}


                        }

                        function getAnniv(strng){

                            $("#search_members").hide()
                            $("#preauth").show()

                            $.ajax({
                                url: "http://127.0.0.1:8000/payments/member_anniversary/" +strng.toLowerCase(),
                                type: "get",

                                success: function (json) {
                                    var data = json
                                    console.log("http://127.0.0.1:8000/payments/member_anniversary/" +strng.toLowerCase())
                                    console.log("kkk")
                                    var data = json
                                    var benefitslist =[]
                                    if (json.length != 0) {
{#                                        $("#anniv").attr(value).val(=json[0].anniv)#}
                                        $('input[name="anniv"]').val(json[0].anniv)
                                        console.log(json)
                                        $('input[type="submit"]').attr("disabled")


{#                                        if(json[0].end_date < date.getUTCFullYear){#}
{#                                            $('input[type="submit"]').disable()#}
{#                                        }#}


                                    } else {

                                    }
                                }
                            })

                        }

                        function setValues() {
                            $('#claim').text($('input[name="authority_limit"]').val())
                        }


                    </script>

                    <div class="mdh-expandable-search mdl-cell--hide-phone">
                        <i class="material-icons">search</i>
                        <form method="get" action="/members/search">
                            <input type="text" id="search" placeholder="Search" size="1" onchange="searchMembers(this.value)" onkeypress="searchMembers(this.value)">
                        </form>
                    </div>

                    <div id="no_result" style="display: none">
            <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">No Results</h2>
            </div>
        </div>

                    <div id="searchresult" style="display: none">
                        <table id="search_table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                                <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric full-width">Member ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                    </div>
                </div>

            </div>


            <div class="mdl-grid" id="preauth" style="display: none">
                <div class="mdl-cell mdl-cell--3-col">
                    <!-- Square card -->
                    <style>
                        .demo-card-square.mdl-card {
                            width: 260px;
                            height: 320px;
                        }

                        .demo-card-square > .mdl-card__title {
                            color: #fff;
                            background: url('../person.png') bottom right 15% no-repeat #46B6AC;
                        }
                    </style>

                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text" id="names">Member name</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Born: <span id="dob"></span> <br>
                            Gender: <span id="gender"></span>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            User is active: <span id="isactive"></span>
                        </div>
                    </div>
                    <br><br><br>

                    <div class="demo-card-square mdl-card mdl-shadow--2dp" style="height: 50px;">

                        <div class="mdl-card__supporting-text">
                            Limit: <span id="limit"></span> <br>
                            Claim: <span id="claim"></span> <br>
                            Reserve Amount:  <br>
                        </div>

                    </div>
                </div>
                <div class="mdl-cell mdl-cell--9-col">
                    <div class="mdl-card__supporting-text mdl-grid">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}



                        <form method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}
                            <input type="hidden" name="action" value="login"/>

                            <div class="mdl-grid ">
                            <input type="text" name="name" value="name">
                            <input type="text" name="member_no" value="asl-0900-01">
{##}
{#                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">#}
{#                                    <span class="mdl-textfield__error">{{ form.code.errors }}</span>#}
{#                                    <label class="mdl-textfield__label mdl-color-text--grey"#}
{#                                           for="textfield_code">Reference Number</label>#}
{##}
{#                                    <input type="number" class="mdl-textfield__input"#}
{#                                           id="id_{{ form.code.name }}"#}
{#                                           name="{{ form.code.name }}"#}
{#                                           value="{% if form.code.value != None %}{{ form.code.value }}{% endif %}"#}
{#                                           required>#}
{##}
{##}
{#                                </div>#}
{##}
{##}
{#                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">#}
{#                                    <span class="mdl-textfield__error">{{ form.auth_batch_no.errors }}</span>#}
{#                                    <label class="mdl-textfield__label mdl-color-text--grey"#}
{#                                           for="textfield_auth_batch_no">Batch number</label>#}
{#                                    <input type="number" class="mdl-textfield__input"#}
{#                                           id="id_{{ form.auth_batch_no.name }}"#}
{#                                           name="{{ form.auth_batch_no.name }}" value="{% if form.auth_batch_no.value != None %}{{ form.auth_batch_no.value }}{% endif %}"#}
{#                                           required>#}
{#                                </div>#}

                                <div class="mdl-selectfield mdl-js-selectfield mdl-cell mdl-cell--3-col">
{#                                    <input name="auth" type="text" value="" class="mdl-textfield__input"#}
{#                                           id="authority_type" readonly>#}
{#                                    <input type="hidden" value="" name="authority_typ">#}
                                    <label class="mdl-selectfield__label" for="authority_type" >authority_type</label>
                                    <span class="mdl-textfield__error">{{ form.authority_type.errors }}</span>
{#                                    <ul for="authority_type"#}
{#                                        class="mdl-menu mdl-menu--bottom-left mdl-js-menu" id="benefits">#}
{#                                        <li class="mdl-menu__item" data-val="1">In-Patient</li>#}
{#                                        <li class="mdl-menu__item" data-val="2">Out-Patient</li>#}
{#                                        <li class="mdl-menu__item" data-val="3">Marternity</li>#}
{##}
{#                                    </ul>#}
                                    <select name="authority_type" class="mdl-selectfield__select" id="benefits">


                                    </select>
                                </div>

                            </div>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select mdl-cell mdl-cell--3-col">
                                    <input type="text" value="" class="mdl-textfield__input"
                                           id="provider" readonly>
                                    <input type="hidden" value="" name="provider">
                                    <label for="provider" class="mdl-textfield__label">provider</label>
                                    <span class="mdl-textfield__error">{{ form.provider.errors }}</span>
                                    <ul for="provider"
                                        class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                        <li class="mdl-menu__item" data-val="1">21st Century Insurance</li>
                                        <li class="mdl-menu__item" data-val="2">AARP</li>
                                        <li class="mdl-menu__item" data-val="3">ACE Limited</li>
                                        <li class="mdl-menu__item" data-val="4">Elephant.com</li>

                                    </ul>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_ward">Ward</label>
                                    <span class="mdl-textfield__error">{{ form.ward.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.ward.name }}"
                                           name="{{ form.ward.name }}" value="{% if form.ward.value != None %}{{ form.ward.value }}{% endif %}"
                                           required>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_anniv">Anniv</label>
                                    <span class="mdl-textfield__error">{{ form.anniv.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.anniv.name }}"
                                           name="{{ form.anniv.name }}"
                                           value="{% if form.anniv.value != None %}{{ form.anniv.value }}{% endif %}"
                                           required>
                                </div>

                            </div>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_pre_diagnosis">Diagnosis</label>
                                    <span class="mdl-textfield__error">{{ form.pre_diagnosis.errors }}</span>
                                    <textarea class="mdl-textfield__input" id="id_{{ form.pre_diagnosis.name }}"
                                              name="{{ form.pre_diagnosis.name }}"
                                              rows="3"
                                              required>{% if form.pre_diagnosis.value != None %}
                                        {{ form.pre_diagnosis.value }}{% else %} {% endif %}</textarea>
                                </div>


                            </div>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_available_limit">Admit Days</label>
                                    <span class="mdl-textfield__error">{{ form.admit_days.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.admit_days.name }}"
                                           name="{{ form.admit_days.name }}"
                                           value="{% if form.admit_days.value != None %}{{ form.admit_days.value }}{% endif %}"
                                           required>


                                </div>
                                   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_available_limit">Authority Limit</label>
                                    <span class="mdl-textfield__error">{{ form.available_limit.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.available_limit.name }}"
                                           name="{{ form.available_limit.name }}"
                                           value="{% if form.available_limit.value != None %}{{ form.available_limit.value }}{% endif %}"
                                           required>


                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_day_bed_charge">Daily Bed Limit</label>
                                    <span class="mdl-textfield__error">{{ form.day_bed_charge.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.day_bed_charge.name }}"
                                           name="{{ form.day_bed_charge.name }}" value="{% if form.day_bed_charge.value != None %}{{ form.day_bed_charge.value }}{% endif %}"
                                           required>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_reserve">Reserve Ammount</label>
                                    <span class="mdl-textfield__error">{{ form.reserve.errors }}</span>
                                    <input type="number" class="mdl-textfield__input"
                                           id="id_{{ form.reserve.name }}"
                                           name="{{ form.reserve.name }}"
                                           value="{% if form.reserve.value != None %}{{ form.reserve.value }}{% endif %}"
                                           required>
                                </div>

                            </div>

                            <div class="mdl-grid ">


                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_date_reported">Date Reported</label>
                                    <span class="mdl-textfield__error">{{ form.date_reported.errors}}</span>
                                    <input class="mdl-textfield__input" type="date"
                                           id="id_{{ form.date_reported.name }}"
                                           name="{{ form.date_reported.name }}"
                                           value="{% if form.date_reported.value != None %}{{ form.date_reported.value }} {% else %} {% endif %}"
                                           required>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_reported_by">Reported By</label>
                                    <span class="mdl-textfield__error">{{ form.reported_by.errors }}</span>
                                    <input class="mdl-textfield__input" type="text"
                                           id="id_{{ form.reported_by.name }}"
                                           name="{{ form.reported_by.name }}"
                                           value="{% if form.reported_by.value != None %}{{ form.reported_by.value }} {% else %} {% endif %}"
                                           required>
                                </div>
                            </div>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_notes">Notes</label>
                                    <span class="mdl-textfield__error">{{ form.notes.errors }}</span>
                                    <textarea class="mdl-textfield__input" id="id_{{ form.notes.name }}"
                                              name="{{ form.notes.name }}"
                                              rows="3" cols="100"
                                              required>{% if form.notes.value != None %}
                                        {{ form.notes.value }}{% else %} {% endif %}</textarea>
                                </div>


                            </div>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_dob">Date Authorised </label>
                                    <span class="mdl-textfield__error">{{ form.dob.errors }}</span>
                                    <input class="mdl-textfield__input" type="date" id="id_{{ form.dob.name }}"
                                           name="{{ form.dob.name }}"
                                           value="{% if form.dob.value != None %}{{ form.dob.value }} {% else %} {% endif %}"
                                           required>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_date_admitted">Date Admitted </label>
                                    <span class="mdl-textfield__error">{{ form.date_admitted.errors }}</span>
                                    <input class="mdl-textfield__input" type="date" id="id_{{ form.date_admitted.name }}"
                                           name="{{ form.date_admitted.name }}"
                                           value="{% if form.date_admitted.value != None %}{{ form.date_admitted.value }} {% else %} {% endif %}"
                                           required>
                                </div>

                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_authorised_by">Authorised By</label>
                                    <span class="mdl-textfield__error">{{ form.authorized_by.errors }}</span>
                                    <input class="mdl-textfield__input" type="text" id="id_{{ form.authorized_by.name }}"
                                           name="{{ form.authorized_by.name }}"
                                           value="{% if form.authorized_by.value != None %}{{ form.authorized_by.value }}{% else %}{% endif %}"
                                           required>
                                </div>


                            </div>
{#                            {{ form|crispy }}#}


                            <div class="mdl-cell mdl-cell--12-col send-button" align="center">

                                <button id="submit" type="submit"
                                        class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary disabled">
                                    Submit
                                </button>
                            </div>


                        </form>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}