{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'payments_provider_list' %}">provider Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>code</td><td>{{ object.code }}</td></tr>
<tr><td>provider</td><td>{{ object.provider }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit provider</a>

{% endblock %}