{% extends "base.html" %} {% load static %} {% block content %}
<p><a class="btn btn-default" href="{% url 'labresults_list' %}">LabResults Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Link</td>
        <td>slug</td>
        <td>created</td>
        <td>last_updated</td>
        <td>patient_no</td>
        <td>tests_done</td>
        <td>test_results</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.slug }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
        <td>{{ object.patient_no }}</td>
        <td>{{ object.tests_done }}</td>
        <td>{{ object.test_results }}</td>
    </tr>
</table>
{% endfor %} {% endblock %}