{% extends "base.html" %} {% load static %} {% block content %}
<script>
    $("#radiology_tab").addClass("current").siblings().removeClass("current")
</script>
<table class="table">

</table>
{% endblock %}