{% extends "base.html" %} {% load static %} {% block content %}
<script>
    $("#radiology_tab").addClass("current").siblings().removeClass("current")
</script>

<p><a class="btn btn-default" href="{% url 'radiologyresult_list' %}">RadiologyResult Listing</a></p>
<table class="table">
    <tr>
        <td>ID</td>
        <td>Link</td>
        <td>slug</td>
        <td>created</td>
        <td>last_updated</td>
        <td>patient_no</td>
        <td>results</td>
        <td>tests_done</td>
    </tr>
    {% for object in object_list %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.slug }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
        <td>{{ object.patient_no }}</td>
        <td>{{ object.results }}</td>
        <td>{{ object.tests_done }}</td>
    </tr>
    {% endfor %}
</table><a class="btn btn-primary" href="{% url 'radiologyresult_create' %}">Create new RadiologyResult</a> {% endblock %}