{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<script>
    $("#radiology_tab").addClass("current").siblings().removeClass("current")
</script>
<p><a class="btn btn-default" href="{% url 'tests_radiology_list' %}">radiology Listing</a></p>
<form method="post">
    {% csrf_token %} {{form|crispy}}
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}