
<div style="width: 500px; margin: 16px auto;">
  <div class="material-notification">
    <header class="material-notification__header"><i class="material-notification__header-icon material-icons mdl-color-text--primary">storage</i><span class="material-notification__header-title mdl-color-text--primary">Notification</span><span class="material-notification__header-optional">address@email.com</span><span class="material-notification__header-timestamp">12 min ago</span></header>
    <div class="material-notification__content"><img class="material-notification__content-icon" src="https://getmdl.io//templates/dashboard/images/user.jpg" alt=""/>
      <p class="material-notification__content-text">Title</p>
      <p class="material-notification__content-text">Notification text</p>
    </div>
    <footer class="material-notification__footer">
      <button class="mdl-button mdl-js-button mdl-button--primary">Accept</button>
      <button class="mdl-button mdl-js-button mdl-button--primary">Reply</button>
    </footer>
  </div>
</div>