{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'workflow_message_list' %}">Message Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>message_no</td><td>{{ object.message_no }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>subject</td><td>{{ object.subject }}</td></tr>
<tr><td>body</td><td>{{ object.body }}</td></tr>
<tr><td>sent_at</td><td>{{ object.sent_at }}</td></tr>
<tr><td>read_at</td><td>{{ object.read_at }}</td></tr>
<tr><td>replied_at</td><td>{{ object.replied_at }}</td></tr>
<tr><td>sender_archived</td><td>{{ object.sender_archived }}</td></tr>
<tr><td>recipient_archived</td><td>{{ object.recipient_archived }}</td></tr>
<tr><td>sender_deleted_at</td><td>{{ object.sender_deleted_at }}</td></tr>
<tr><td>recipient_deleted_at</td><td>{{ object.recipient_deleted_at }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Message</a>

{% endblock %}