{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'workflow_message_list' %}">Message Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>message_no</td>
    <td>created</td>
    <td>last_updated</td>
    <td>subject</td>
    <td>body</td>
    <td>sent_at</td>
    <td>read_at</td>
    <td>replied_at</td>
    <td>sender_archived</td>
    <td>recipient_archived</td>
    <td>sender_deleted_at</td>
    <td>recipient_deleted_at</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.message_no }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.subject }}</td>
    <td>{{ object.body }}</td>
    <td>{{ object.sent_at }}</td>
    <td>{{ object.read_at }}</td>
    <td>{{ object.replied_at }}</td>
    <td>{{ object.sender_archived }}</td>
    <td>{{ object.recipient_archived }}</td>
    <td>{{ object.sender_deleted_at }}</td>
    <td>{{ object.recipient_deleted_at }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'workflow_message_create' %}">Create new Message</a>
{% endblock %}