{% extends "base.html" %}
{% load static %}



{% block content %}

    <link rel="stylesheet" href="{% static  'css/workflow.css' %}">
    <link rel="stylesheet" href="{% static  'css/chosen.css' %}">
    <link rel="stylesheet" href="{% static  'css/bootstrap.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    {#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}

    <!------ Include the above in your HEAD tag ---------->

    <div class="container" style=" width: 90%;">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <i>{{ error|escape }}</i>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <i>{{ error|escape }}</i>
                </div>
            {% endfor %}
        {% endif %}
        <div class="page-header">
            <h1 id="timeline">Your Workflow</h1>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                <div class="timeline-panel">
                    <form method="post" action="" role="form">
                        {% csrf_token %}
                        <div class="timeline-heading">
                            <div class="form-group">
                                <label for="title">To</label>
                                <select class="chosen-select" tabindex="2" name="recipient">
                                    {% for user in users %}
                                        <option value="{{ user.pk }}">{{ user.email }}</option>

                                    {% endfor %}

                                </select>

                                {#                                <input type="text" class="form-control" name="recipient" placeholder="Recipient">#}
                            </div>


                        </div>
                        <div class="timeline-heading">
                            <div class="form-group">
                                <label for="title">Subject</label>
                                <input type="text" class="form-control" name="subject" placeholder="Subject">
                            </div>
                        </div>
                        <div class="timeline-body">
                            <div class="form-group">
                                <label for="Text">Message</label>
                                <textarea class="form-control" name="body" placeholder="Type ypur message here"
                                          rows="3"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-lg btn-block">send</button>
                    </form>
                </div>
            </li>
            {% for each in inbox %}
                <li {% if request.user.email == each.sender.email %}class="timeline-inverted"{% endif %}>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{ each.subject }}</h4>
                            <p>
                                <small class="text-muted"><i
                                        class="glyphicon glyphicon-time"></i> {{ each.created|date:'D d M Y H:m:s' }}
                                </small>

                                <small class="pull-right text-muted">
                                    from {{ each.sender }}
                                </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{ each.body }}</p>
                            <div>

                            </div>
                        </div>
                        <hr>
                        <div class="timeline-footer">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted" id="timeago_">
                                                        <span class="glyphicon glyphicon-time">X minutes ago</span>
                                                    </small>

                                                </div>
                                                <p>
                                                    This is a message from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>13 mins ago
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    This is a message to jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                </div>
                                                <p>
                                                    Some other correspondence from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    Yet another message
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm"
                                               placeholder="Type your message here..."/>
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send
                                  </button>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </li>

            {% endfor %}
            <li class="timeline-inverted">
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Welcome</h4>
                        <p>
                            <small class="text-muted"><i
                                    class="glyphicon glyphicon-time"></i> March 21 2018 10:51
                            </small>

                            <small class="pull-right text-muted">
                                from me
                            </small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>This is an inverted message. It means this message came/went from you.

                            Good luck!</p>
                        <div>

                        </div>
                    </div>
                    <hr>
                    <div class="timeline-footer">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted" id="timeago_">
                                                        <span class="glyphicon glyphicon-time">X minutes ago</span>
                                                    </small>

                                                </div>
                                                <p>
                                                    This is a message from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>13 mins ago
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    This is a message to jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                </div>
                                                <p>
                                                    Some other correspondence from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    Yet another message
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm"
                                               placeholder="Type your message here..."/>
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send
                                  </button>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Welcome to Workflow</h4>
                        <p>
                            <small class="text-muted"><i
                                    class="glyphicon glyphicon-time"></i> March 21 2018 10:51
                            </small>

                            <small class="pull-right text-muted">
                                from The webmaster
                            </small>
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>Welcome to your branch new workflow. All your messages will appear in this page. On the left
                            will be message sent to you and on the right will be messages going out. This workflow takes
                            the form of the timeline so that you can keep track of when messages came in or when things
                            happen.

                            Files you receive or share with other, i.e doctor to receptionist or receptionist to your
                            self will all appear here.

                            Good luck!</p>
                        <div>

                        </div>
                    </div>
                    <hr>
                    <div class="timeline-footer">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul class="chat">
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted" id="timeago_">
                                                        <span class="glyphicon glyphicon-time">X minutes ago</span>
                                                    </small>

                                                </div>
                                                <p>
                                                    This is a message from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>13 mins ago
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    This is a message to jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix"><span class="chat-img pull-left">
                                  <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong class="primary-font">Jack Sparrow</strong>
                                                    <small class="pull-right text-muted">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                </div>
                                                <p>
                                                    Some other correspondence from jack
                                                </p>
                                            </div>
                                        </li>
                                        <li class="right clearfix"><span class="chat-img pull-right">
                                  <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"
                                       class="img-circle"/>
                              </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <small class=" text-muted"><span
                                                            class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                    <strong class="pull-right primary-font">Me</strong>
                                                </div>
                                                <p>
                                                    Yet another message
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <div class="input-group">
                                        <input id="btn-input" type="text" class="form-control input-sm"
                                               placeholder="Type your message here..."/>
                              <span class="input-group-btn">
                                  <button class="btn btn-warning btn-sm" id="btn-chat">
                                      Send
                                  </button>
                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>


    <script>
        $(function () {
            console.log("chosen..")
            $(".chosen-select").chosen({no_results_text: "Oops, User not found!", disable_search_threshold: 0});
        })

        function timeago(djangotime, outputdiv) {
            let momentised = moment(djangotime, "D M YYYY h:mm:ss").fromNow()
            $('#' + outputdiv).append(momentised)
        }
    </script>

{% endblock %}


{#<div class="timeline-footer">#}
{#    <div class="panel panel-primary">#}
{#        <div class="panel-heading" id="accordion">#}
{#            <span class="label label-danger">5</span>#}
{#            <span class="glyphicon glyphicon-comment"></span> Chat#}
{#            <div class="btn-group pull-right">#}
{#                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse"#}
{#                   data-parent="#accordion" href="#collapseOne">#}
{#                    <span class="glyphicon glyphicon-chevron-down"></span>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#        <div class="panel-collapse collapse" id="collapseOne">#}
{#            <div class="panel-body">#}
{#                <ul class="chat">#}
{#                    <li class="left clearfix"><span class="chat-img pull-left">#}
{#                                      <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"#}
{#                                           class="img-circle"/>#}
{#                                  </span>#}
{#                        <div class="chat-body clearfix">#}
{#                            <div class="header">#}
{#                                <strong class="primary-font">Jack Sparrow</strong>#}
{#                                <small class="pull-right text-muted">#}
{#                                    <span class="glyphicon glyphicon-time"></span>12 mins ago#}
{#                                </small>#}
{#                            </div>#}
{#                            <p>#}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur#}
{#                                bibendum ornare#}
{#                                dolor, quis ullamcorper ligula sodales.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="right clearfix"><span class="chat-img pull-right">#}
{#                                      <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"#}
{#                                           class="img-circle"/>#}
{#                                  </span>#}
{#                        <div class="chat-body clearfix">#}
{#                            <div class="header">#}
{#                                <small class=" text-muted"><span#}
{#                                        class="glyphicon glyphicon-time"></span>13 mins ago#}
{#                                </small>#}
{#                                <strong class="pull-right primary-font">Bhaumik Patel</strong>#}
{#                            </div>#}
{#                            <p>#}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur#}
{#                                bibendum ornare#}
{#                                dolor, quis ullamcorper ligula sodales.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="left clearfix"><span class="chat-img pull-left">#}
{#                                      <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"#}
{#                                           class="img-circle"/>#}
{#                                  </span>#}
{#                        <div class="chat-body clearfix">#}
{#                            <div class="header">#}
{#                                <strong class="primary-font">Jack Sparrow</strong>#}
{#                                <small class="pull-right text-muted">#}
{#                                    <span class="glyphicon glyphicon-time"></span>14 mins ago#}
{#                                </small>#}
{#                            </div>#}
{#                            <p>#}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur#}
{#                                bibendum ornare#}
{#                                dolor, quis ullamcorper ligula sodales.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{#                    <li class="right clearfix"><span class="chat-img pull-right">#}
{#                                      <img src="http://placehold.it/50/FA6F57/fff&text=RGB" alt="User Avatar"#}
{#                                           class="img-circle"/>#}
{#                                  </span>#}
{#                        <div class="chat-body clearfix">#}
{#                            <div class="header">#}
{#                                <small class=" text-muted"><span#}
{#                                        class="glyphicon glyphicon-time"></span>15 mins ago#}
{#                                </small>#}
{#                                <strong class="pull-right primary-font">Bhaumik Patel</strong>#}
{#                            </div>#}
{#                            <p>#}
{#                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur#}
{#                                bibendum ornare#}
{#                                dolor, quis ullamcorper ligula sodales.#}
{#                            </p>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="panel-footer">#}
{#                <div class="input-group">#}
{#                    <input id="btn-input" type="text" class="form-control input-sm"#}
{#                           placeholder="Type your message here..."/>#}
{#                                  <span class="input-group-btn">#}
{#                                      <button class="btn btn-warning btn-sm" id="btn-chat">#}
{#                                          Send#}
{#                                      </button>#}
{#                                  </span>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}