.version.index /* version checker */
{
	color: #000002;
	background-color: #E350FB;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 1131px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 31px 20px 29px;
}

#pu261-4
{
	z-index: 96;
	width: 0.01px;
	margin-left: 12px;
}

#u261-4
{
	z-index: 96;
	width: 139px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u258-4
{
	z-index: 92;
	width: 294px;
	min-height: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 600px;
}

#u103
{
	z-index: 2;
	width: 920px;
	background-color: transparent;
	padding-bottom: 22px;
	position: relative;
}

#pu109-4
{
	z-index: 4;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: 12px;
}

#u109-4
{
	z-index: 4;
	width: 144px;
	min-height: 26px;
	background-color: transparent;
	text-indent: -6px;
	color: #29ABE2;
	position: relative;
}

#pu115-4
{
	z-index: 8;
	width: 0.01px;
	margin-top: 14px;
}

#u115-4
{
	z-index: 8;
	width: 76px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u125-4
{
	z-index: 12;
	width: 84px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u131-4
{
	z-index: 16;
	width: 85px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#pu134-4
{
	z-index: 20;
	width: 0.01px;
	margin-top: 6px;
}

#u134-4
{
	z-index: 20;
	width: 46px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u137-4
{
	z-index: 24;
	width: 38px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 167px;
}

#u143-4
{
	z-index: 32;
	width: 34px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 351px;
}

#u146-4
{
	z-index: 36;
	width: 33px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 423px;
}

#u140-4
{
	z-index: 28;
	width: 552px;
	min-height: 45px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u106
{
	z-index: 3;
	width: 162px;
	height: 151px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 612px;
}

#pu161-4
{
	z-index: 40;
	width: 0.01px;
	margin-top: 10px;
}

#u161-4
{
	z-index: 40;
	width: 76px;
	min-height: 20px;
	background-color: transparent;
	color: #0071BC;
	position: relative;
	margin-right: -10000px;
	left: 12px;
}

#u176-4
{
	z-index: 44;
	width: 139px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 12px;
}

#u179-4
{
	z-index: 48;
	width: 90px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 179px;
}

#u182-4
{
	z-index: 52;
	width: 88px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 363px;
}

#u185-4
{
	z-index: 56;
	width: 60px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 523px;
}

#u188-4
{
	z-index: 60;
	width: 74px;
	min-height: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 639px;
}

#u191-4
{
	z-index: 64;
	width: 88px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 12px;
}

#u197-4
{
	z-index: 68;
	width: 94px;
	min-height: 21px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 12px;
}

#u206
{
	z-index: 72;
	width: 920px;
	height: 167px;
	position: relative;
	margin-right: -10000px;
}

.ie #u206
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u228
{
	z-index: 73;
	width: 144px;
	background-color: transparent;
	padding-left: 7px;
	padding-right: 769px;
	padding-bottom: 129px;
	margin-top: 19px;
	position: relative;
}

#u231-4
{
	z-index: 74;
	width: 125px;
	min-height: 26px;
	background-color: transparent;
	color: #29ABE2;
	margin-left: 5px;
	position: relative;
}

#u234-4
{
	z-index: 78;
	width: 144px;
	min-height: 28px;
	background-color: transparent;
	color: #29ABE2;
	margin-top: 102px;
	position: relative;
}

#u240
{
	z-index: 82;
	width: 920px;
	background-color: transparent;
	padding-bottom: 111px;
	margin-top: 9px;
	position: relative;
}

#u243-4
{
	z-index: 83;
	width: 97px;
	min-height: 21px;
	background-color: transparent;
	color: #0071BC;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u252
{
	z-index: 87;
	width: 920px;
	background-color: transparent;
	padding-bottom: 214px;
	margin-top: 13px;
	position: relative;
}

#u255-4
{
	z-index: 88;
	width: 127px;
	min-height: 27px;
	background-color: transparent;
	color: #29ABE2;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1226px);
}

#u264-4
{
	z-index: 100;
	width: 173px;
	min-height: 23px;
	background-color: transparent;
	margin-left: 747px;
	margin-top: 10px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 30px;
}

