<html><head>
<link rel="stylesheet" href="{% static  'css/styles.css'%} ">
        {% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{#      <!-- Compiled and minified CSS -->#}
{#  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">#}
{##}
{#  <!-- Compiled and minified JavaScript -->#}
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>#}


    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="{% static  'css/styles.css' %} ">

    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabs.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabstyles.css' %}" />
    <link rel="stylesheet" href="{% static  'css/getmdl-select.min.css'%} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="{% static 'js/getmdl-select.min.js' %}"></script>

    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

</head><body>{% block content %}Replace this.{% endblock %}</body>