{% extends "base.html" %}
{% load static %}
{% static  'css/style.css' %}
{% block content %}


    <div class="mdl-cell mdl-cell--12-col mdl-grid" style="">

        <div class="mdl-card__supporting-text mdl-grid" >

            <form method="POST" action="" class="full-width" enctype="multipart/form-data">
                {% csrf_token %}
                {% if success %}
                    <div class="alert alert-success">
                        <strong>Success!</strong> {{ success }}
                    </div>
                {% endif %}
                {% if errors.others %}
                    <div class="alert alert-danger">
                        <i>{{ errors.others|safe }}</i>
                    </div>
                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <i>{{ error|escape }}</i>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <i>{{ error|escape }}</i>
                        </div>
                    {% endfor %}
                {% endif %}
                <fieldset class="field-setter" name="personal">
                    <legend style="font-weight: bold; font-size: 16px; padding: 17px;  ">Personal Information</legend>
                {% if not new %}
                <script>
                $(function(){
                    readonly_personal()
                })

                </script>
                {% endif %}

                    <fieldset id="personal_information" {% if not new %}style="background: #f9e7e714;" readonly{% endif %}>
                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey forminput"
                                       for="textfield_first_name">First Name</label>

                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_first_name" name="first_name"
                                       value="{{ form.first_name.value|default_if_none:"" }}"/>
                            <span style="visibility: visible; "
                                  class="mdl-textfield__error">{{ form.first_name.errors|striptags }}</span>

                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_middle_name">Middle Name</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_middle_name" name="middle_name"
                                       value="{{ form.middle_name.value|default_if_none:"" }}"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.middle_name.errors|striptags }}</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_name">Last Name</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_last_name" value="{{ form.last_name.value|default_if_none:"" }}"
                                       name="last_name" required/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_name.errors|striptags }}</span>
                            </div>

                        </div>

                        <div class="mdl-grid ">

                            <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_phone">Phone </label>
                                <input class="phone_input mdl-textfield__input" type='tel'
                                       id="textfield_phone_input" value="{{ form.phone.value|default_if_none:"" }}"
                                       name="phone"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.phone.errors|striptags }}</span>
                            </div>


                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_email">Email Address</label>
                                <input class="mdl-textfield__input" type="email"
                                       id="textfield_email"
                                       value="{{ form.email.value|default_if_none:"" }}" name="email"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.email.errors|striptags }}{{ errors.email }}</span>
                            </div>

                        </div>
                        <div class="mdl-grid ">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_dob">Date of Birth</label>
                            {{ form.dob }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.dob.errors|striptags }}</span>
                        </div>
                        <script>
                            $('#textfield_dob').on('change', function (e) {


                                d = new Date($(this).val());
                                var before = moment($(d, 'YYYY-MM-DD'));
                                var age = moment().diff(d, 'years');
                                $('#textfield_age').val(age).parent().addClass("is-dirty");
                            });


                        </script>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_age">Age</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_age" value="{{ form.age.value|default_if_none:"" }}" name="age"
                                   readonly/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.age.errors|striptags }}</span>
                        </div>

                        <div class="">
                            <label class=""
                                   for="textfield_gender">Gender</label>
                            {% if new %}

                            {{ form.gender }}
                            {% else %}
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_gender" value="{{ form.gender.value|default_if_none:"" }}" name="gender"
                                   readonly/>
                            {% endif %}
                        </div>

                        <script>




                        </script>
                    </div>
                    </fieldset>

                    <div class="mdl-grid ">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_postal_address">Postal Address</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_postal_address"
                                   value="{{ form.postal_address.value|default_if_none:"" }}" name="postal_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.postal_address.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_postal_code">Postal Code</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_postal_code"
                                   value="{{ form.postal_code.value|default_if_none:"" }}" name="postal_code" required/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.postal_code.errors|striptags }}</span>
                        </div>


                    </div>

                    <div class="mdl-grid ">

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">

                           <input class="mdl-textfield__input" id="tbCounties" name="county" type="text"
                                   value="{{ form.county.value|default_if_none:"" }}"
                                   name="county">
                            <label for="county" class="mdl-textfield__label">County</label>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.county.errors|striptags }}</span>


                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_physical_address">Physical Address</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_physical_address"
                                   value="{{ form.physical_address.value|default_if_none:'' }}"
                                   name="physical_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.physical_address.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <input class="mdl-textfield__input" id="tbCountries" name="country" type="text"
                                   value="{{ form.country.value|default_if_none:"" }}"
                                   name="country">
                            <label for="country" class="mdl-textfield__label">Country</label>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.country.errors|striptags }}</span>

                        </div>

                    </div>



                    <div class="mdl-grid">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_id_type">ID Type</label>
                            {{ form.id_type }}
                            <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.id_type.errors|striptags }}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                            <label class="mdl-textfield__label mdl-color-text--grey"
                                   for="textfield_ss_number">Identification No</label>
                            <input class="mdl-textfield__input" type="text"
                                   id="textfield_ss_number"
                                   value="{{ form.ss_number.value|default_if_none:"" }}" name="ss_number"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.ss_number.errors|striptags }}{{ errors.id_number }}</span>
                        </div>
                    </div>


                </fieldset>





                {% if not new %}
                    <fieldset name="insurance" class="fieldset">
                        <legend style="font-weight: bold; font-size: 16px;padding: 17px; ">Emergency contact</legend>
                        <div class="mdl-grid ">
                            <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_emergency_contact">Emergency Contact</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_emergency_contact"
                                       value="{{ form.emergency_contact.value|default_if_none:"" }}"
                                       name="emergency_contact"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_relationship.errors|striptags }}</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_e_relationship">Relationship to patient</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_e_relationship"
                                       value="{{ form.e_relationship.value|default_if_none:"" }}"
                                       name="e_relationship"/>
                            </div>
                        </div>

                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_e_contact_address">Address</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_e_contact_address"
                                       value="{{ form.e_contact_address.value|default_if_none:"" }}"
                                       name="e_contact_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_contact_address.errors|striptags }}</span>
                            </div>
                            <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_e_phone_number">Phone Number</label>
                                <input class="phone_input mdl-textfield__input" type="text"
                                       id="textfield_e_phone_number"
                                       value="{{ form.e_phone_number.value|default_if_none:"" }}"
                                       name="e_phone_number"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.e_phone_number.errors|striptags }}</span>
                            </div>

                        </div>
                    </fieldset>


                    <fieldset name="insurance" class="fieldset">
                        <legend style="font-weight: bold; font-size: 16px;padding: 17px;  ">Insurance information
                        </legend>
                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_primary_insurance">Primary Insurance </label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_primary_insurance"
                                       value="{{ form.primary_insurance.value|default_if_none:"" }}"
                                       name="primary_insurance"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.primary_insurance.errors|striptags }}</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-cell mdl-cell--6-col">
                                {{ form.pri_ins_sub }}

                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.pri_ins_sub.errors|striptags }}</span>

                            </div>
                            <script>
                                $(function () {
                                    $("#other_ins_subscriber").on('change', function (e) {
                                        if ($('#other_ins_subscriber').val() != "Male") {
                                            {#                                            $('#').show();#}

                                        }


                                    });
                                })

                            </script>

                        </div>

                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_secondary_insurance">Secondary Insurance </label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_secondary_insurance" name="secondary_insurance" value="{{ form.secondary_insurance.value|default_if_none:"" }}"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.secondary_insurance.errors|striptags }}</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield getmdl-select mdl-cell mdl-cell--6-col">
                                {{ form.sec_ins_sub }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sec_ins_sub.errors|striptags }}</span>
                            </div>


                        </div>
                    </fieldset>
                    <fieldset name="other_insurance" class="fieldset">
                        <legend style="font-weight: bold; font-size: 16px; padding: 17px; ">Insurance information of
                            policy
                            holder
                        </legend>

                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_other_ins_subscriber">Subscriber/Policy holder</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_other_ins_subscriber"
                                       value="{{ form.other_ins_subscriber.value|default_if_none:"" }}"
                                       name="other_ins_subscriber"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.other_ins_subcriber.errors|striptags }}</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_subscriber_relationship">Relationship to Patient</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_subscriber_relationship" value="


                                        {% if form.subscriber_relationship.value != None %}{{ form.subscriber_relationship.value }}{% endif %}"
                                       name="subscriber_relationship"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.subcriber_relationship.errors|striptags }}</span>
                            </div>


                        </div>

                        <div class="mdl-grid ">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_sub_dob">Date of Birth </label>
                                {{ form.sub_dob }}

                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sub_dob|striptags }}</span>
                            </div>




                            <div class="">
                            <label class=""
                                   for="textfield_gender ">Identification Documents</label>
                            {{ form.id_type_sub }}
                        </div>



                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_sub_ss_number">Identification No</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_sub_ss_number"
                                       value="{{ form.sub_ss_number.value|default_if_none:"" }}" name="sub_ss_number"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sub_ss_number.errors|striptags }}</span>
                            </div>


                        </div>

                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_sub_address">Address</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_sub_address"
                                       value="{{ form.sub_address.value|default_if_none:"" }}"
                                       name="sub_address"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sub_address.errors|striptags }}</span>
                            </div>


                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_sub_employer">Employer</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_sub_employer"
                                       value="{{ form.sub_employer.value|default_if_none:"" }}"
                                       name="sub_employer"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sub_employer.errors|striptags }}</span>
                            </div>
                            <div class="phone mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_sub_work_phone">Work Phone Number</label>
                                <input class="phone_input mdl-textfield__input" type="tel"
                                       id="textfield_sub_work_phone"
                                       value="{{ form.sub_work_phone.value|default_if_none:"" }}"
                                       name="sub_work_phone"/>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.sub_work_phone.errors|striptags }}</span>
                            </div>

                        </div>
                    </fieldset>
                    <br><br>

                    <fieldset name="personal">
                        <legend>Other Personal info</legend>

                        <div class="mdl-grid">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_occupation">Occupation</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_occupation"
                                       value="{{ form.occupation.value|default_if_none:"" }}"
                                       name="occupation"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.occupation.errors|striptags }}</span>
                            </div>

                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-cell mdl-cell--6-col">
                                <span style="display: block">marital Status</span>
                                {{ form.marital_status }}
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.marital_status.errors|striptags }}</span>
                            </div>
                            <div id="parter_div"
                                 class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_spouse">Name of Partner</label>
                                <input class="mdl-textfield__input" type="text"
                                       id="textfield_spouse"
                                       value="{{ form.spouse.value|default_if_none:"    " }}"
                                       name="spouse"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.spouse.errors|striptags }}</span>
                            </div>
                        </div>

                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">

                                <div><p>Names/Specialties/Locations of Other
                                    Physicians Caring for You, including previous primary care doctor</p></div>
                                                    <textarea class="mdl-textfield__input" type="text" rows="8"
                                                              id="prev_docs">{{ form.prev_docs.value|default_if_none:"" }}</textarea>
                                <label class="mdl-textfield__label" for="prev_docs"></label>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.prev_docs.errors|striptags }}</span>
                            </div>
                        </div>

                        <div class="mdl-grid">
                            <div >

                                <div id='max-children' style="display:none" class=" alert alert-danger">
                                    <i>The maximum no of children is four.</i>
                                </div>
                                <table class='mdl-data-table mdl-js-data-table full-width'
                                       style="background: rgb(238, 238, 238);">
                                    {{ child_formset.management_form }}

                                    <thead data-bind="children_td" style="color: #000;">
                                    <tr>
                                        <td>
                                            <label for="number_children" style="display: block">N0. of children</label>

                                            <input name="number_children" style="width: 30px; " class="Input-text"
                                                   onkeyup="dynamic_children()" value=1 id='number_children'/>
                                        </td>
                                        <td class="data-tab" style="color: #2d5265; padding: 30px; ">Full
                                            Names
                                        </td>
                                        <td class="data-tab" style="color: #2d5265; padding: 30px; ">Date of
                                            Birth
                                        </td>
                                        <td class="data-tab" style="color: #2d5265; padding: 30px; ">Age</td>
                                    </tr>
                                    </thead>

                                    <tbody id="children_td_table">
                                    {% for form in child_formset.forms %}
                                        <tr>
                                            <td></td>
                                            <td>{{ form.child_name }}</td>
                                            <td>{{ form.child_dob }}</td>
                                            <td>{{ form.child_age }}
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                <td><input type="button" class="w3-button" value="+">
                                            </td>

                                </table>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset name="health_hist">
                        <legend style="font-weight: bold; font-size: 16px; padding: 17px; ">Health History</legend>
                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">



                            </div>
                        </div>


                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">

                                <table>
        <span> Allergies to medication or food</span>


         <tr>
            <td>
               <label class = "mdl-checkbox mdl-js-checkbox" for = "checkbox1">
                  <input type = "checkbox" id = "checkbox1"
                     class = "mdl-checkbox__input" checked>
                  <span>Antibiotics</span>
               </label>
            </td>

            <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox2">
                  <input type = "checkbox" id = "checkbox2" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">NSAIDS</span>
               </label>
            </td>

            <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox3">
                  <input type = "checkbox" id = "checkbox3" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Aspirin</span>
               </label>

            </td>

                <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox4">
                  <input type = "checkbox" id = "checkbox4" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Insulin</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox5">
                  <input type = "checkbox" id = "checkbox5" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Anti-Seizure drugs</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox5a">
                  <input type = "checkbox" id = "checkbox5a" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Sickle Cell</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox6">
                  <input type = "checkbox" id = "checkbox6" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Sickle cell</span>
               </label>

            </td>



 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox7">
                  <input type = "checkbox" id = "checkbox7" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Sulphur drugs</span>
               </label>

            </td>





         </tr>
      </table>


                                 <table>
                                     <span> Family History</span>


         <tr>
            <td>
               <label class = "mdl-checkbox mdl-js-checkbox" for = "checkbox8">
                  <input type = "checkbox" id = "checkbox8"
                     class = "mdl-checkbox__input" checked>
                  <span class = "mdl-checkbox__label">Osteoporosis</span>
               </label>
            </td>

            <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox9">
                  <input type = "checkbox" id = "checkbox9" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Skin Condition</span>
               </label>
            </td>

            <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox10">
                  <input type = "checkbox" id = "checkbox10" class = "mdl-checkbox__input">
                  <span >Mental illness</span>
               </label>

            </td>

                <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox11">
                  <input type = "checkbox" id = "checkbox11" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Hypertension</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox12">
                  <input type = "checkbox" id = "checkbox12" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Heart diseases</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox13">
                  <input type = "checkbox" id = "checkbox13" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Diabetes</span>
               </label>

            </td>


 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox14">
                  <input type = "checkbox" id = "checkbox14" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Asthma</span>
               </label>

            </td>



 <td>
               <label class = "mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                  for = "checkbox15">
                  <input type = "checkbox" id = "checkbox15" class = "mdl-checkbox__input">
                  <span class = "mdl-checkbox__label">Allergies</span>
               </label>

            </td>





         </tr>
      </table>





                            </div>
                        </div>


                        <div class="mdl-grid">
                            <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">

                                <div> <p>Others</p> </div>
                                                    <textarea class="mdl-textfield__input" type="text" rows="8"
                                                              id="allergies" name="social_hist">{{ form.social_hist.value|default_if_none:"" }}</textarea>
                                <label class="mdl-textfield__label" for="social_hist"></label>
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.social_hist.errors|striptags }}</span>
                            </div>
                        </div>


                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_phys_examination">Date of Last Physical Exam</label>
                                {{ form.last_phys_examination }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_phys_examination.errors|striptags }}</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_blood_work">Date of Last Blood Work</label>
                                {{ form.last_blood_work }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_blood_work.errors|striptags }}</span>
                            </div>
                        </div>
                        <div class="mdl-grid ">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_colonoscopy">Date of Last Colonoscopy</label>
                                {{ form.last_colonoscopy }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_colonoscopy.errors|striptags }}</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                <label class="mdl-textfield__label mdl-color-text--grey"
                                       for="textfield_last_tetanus_shot">Date of Last Tetenus Shot</label>
                                {{ form.last_tetanus_shot }}
                            <span style="visibility: visible;"
                                  class="mdl-textfield__error">{{ form.last_tetanus_shot.errors|striptags }}</span>
                            </div>
                        </div>
                    </fieldset>

                    {% if form.gender.value == "Female" %}
                    <div id="females_">
                        <fieldset id="for_females" name="for_females">
                            <legend style="font-weight: bold; font-size: 16px; padding: 17px; ">For females</legend>

                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_last_menstrual">Date of Last Menstrual Period</label>
                                    {{ form.last_menstrual }}
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.last_menstrual.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_last_pap_smear">Date of Last Pap Smear</label>
                                    {{ form.last_pap_smear }}
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.last_pap_smear.errors|striptags }}</span>
                                </div>
                            </div>
                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_abnormal_pap">History of Abnormal pap(list date/s)?</label>
                                    {{ form.abnormal_pap }}
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.abnormal_pap.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_last_mammogram">Date of Last Mammogram</label>
                                    {{ form.last_mammogram }}
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.last_mammogram.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_dexa">DEXA</label>
                                    {{ form.dexa }}

                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.dexa.errors|striptags }}</span>
                                </div>
                            </div>
                            <div class="mdl-grid ">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_no_pregnancies">Number of Pregnancies</label>
                                    <input class="mdl-textfield__input" type="text"
                                           id="textfield_no_pregnancies"
                                           value="{{ form.no_pregnancies.value|default_if_none:"" }}"
                                           name="no_pregnancies"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.no_pregnancies.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_miscourages">Miscarriages</label>
                                    <input class="mdl-textfield__input" type="text"
                                           id="textfield_miscourages"
                                           value="{{ form.miscourages.value|default_if_none:"" }}"
                                           name="miscourages"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.miscourages.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_terminations">Terminations</label>
                                    <input class="mdl-textfield__input" type="text"
                                           id="textfield_terminations"
                                           value="{{ form.terminations.value|default_if_none:"" }}"
                                           name="terminations"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.terminations.errors|striptags }}</span>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
                                    <label class="mdl-textfield__label mdl-color-text--grey"
                                           for="textfield_living_children">Living Children</label>
                                    <input class="mdl-textfield__input" type="text"
                                           id="textfield_living_children"
                                           value="{{ form.living_children.value|default_if_none:"" }}"
                                           name="living_children"/>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.living_children.errors|striptags }}</span>
                                </div>
                            </div>

                            <div class="mdl-grid">
                                <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">
                                    <div> <p>Method/s of
                                        Contraception</p> </div>
                                                    <textarea class="mdl-textfield__input" type="text" rows="8"
                                                              id="methods_of_contraception">{{ form.methods_of_contraception.value|default_if_none:"" }}</textarea>
                                    <label class="mdl-textfield__label" for="methods_of_contraception"></label>
                                <span style="visibility: visible;"
                                      class="mdl-textfield__error">{{ form.methods_of_contraception.errors|striptags }}</span>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                        {% endif %}



                    <div class="mdl-grid">
                        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col">

                            <div><p>Add past surgeries/Medications</p></div>
                                                    <textarea class="mdl-textfield__input" type="text" rows="8"
                                                              id="surgeries"
                                                              name="surgeries">{{ form.surgeries.value|default_if_none:"" }}</textarea>
                            <label class="mdl-textfield__label" for="surgeries"></label>
                        <span style="visibility: visible;"
                              class="mdl-textfield__error">{{ form.surgeries.errors|striptags }}</span>
                        </div>
                    </div>

                    <fieldset name="scans">
           <div class = "mdl-grid">


                        <legend style="font-weight: bold; font-size: 16px; ">Social information</legend>
                      <div class="">
                            <label class="cloz"
                                   for="textfield_if_smoker ">Do you smoke</label>
                            {{ form.if_smoker }}
                        </div>



                      <div class="">
                            <label class="mdl-cell mdl-cell--2-col graybox"
                                   for="textfield_if_chew_tobacco">Do you Chew Tobacco</label>
                            {{ form.if_chew_tobacco }}
                        </div>


 <div class="">
                            <label class="mdl-cell mdl-cell--4-col graybox"
                                   for="textfield_if_quit_before">Have you quit before</label>
                            {{ form.if_quit_before }}
                        </div>




 </div> <!-- mdl section grid ends here -->

                        <div class="mdl-grid">

                             <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_drink_alcohol">Do you drink alcohol</label>
                            {{ form.if_drink_alcohol }}
                        </div>



                                <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_drug_used">Any illegal history of drug use</label>
                            {{ form.if_drug_used }}
                        </div>


                        </div>



<!---mdl grid -starts--->

                        <div class="mdl-grid">

                           <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_exercise">Do you exercise</label>
                            {{ form.if_exercise }}
                        </div>


                            <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_special_diet">Are you on any special diet</label>
                            {{ form.if_special_diet }}
                        </div>



                             <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_use_caffein">Do you consume any caffeinated drink</label>
                            {{ form.if_use_caffein }}
                        </div>





                            <!---mdl-section three-->
                            <div class="mdl-grid">

                                      <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_is_sadder">Have you recently noticed any increase in sadness</label>
                            {{ form.is_sadder }}
                        </div>

          <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_if_lost_interest">Have you lost interest in enjoyable activities</label>
                            {{ form.if_lost_interest }}
                        </div>


                                 <div class="mdl-cell mdl-cell--4-col">
                            <label class=""
                                   for="textfield_have_will">Do you have a living will</label>
                            {{ form.have_will }}
                        </div>

                            </div>

                        </div>

                    </fieldset>


                    <fieldset name="scans">
                        <legend>Scanned Documents</legend>

                        <div class="mdl-grid">
                            <input for="uploaded_file" type="file" name="uploaded_file" id="uploadBtn" multiple>


                        </div>

                    </fieldset>
                {% endif %}


                <div class="mdl-cell mdl-cell--12-col send-button" align="center">

                    <button type="submit"
                            class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                        Save
                    </button>
                </div>

            </form>

                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

            <style>
                .ui-autocomplete {
                    max-height: 200px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                }
            </style>


        </div>
    </div>



    <div class="mdl-cell mdl-cell--2-col mdl-grid">
    </div>
    </div>

{% endblock %}

