{% extends "base.html" %}
{% load static %}
{% block content %}
    <script>
        $("#registration_tab").addClass("current").siblings().removeClass("current")
    </script>



    <div class="mdl-grid ">
        <div class="mdl-layout-spacer"></div>
            {% if success %}
            <div class="alert alert-success full-width">
                <strong>Success!</strong> {{ success }}
            </div>
        {% endif %}
    {% if message %}
            <div class="alert alert-success full-width">
                <strong>Success!</strong> {{ message }}
            </div>
        {% endif %}
        {% if errors %}
            <div class="alert alert-danger full-width">
                <i>{{ errors|safe }}</i>
            </div>
        {% endif %}
        <div class="mdl-card mdl-shadow--16dp util-center mdl-cell mdl-cell--6-col"

             style="width: 700px !important; margin-bottom:600px; ">
            <style>
                .mdl-card__title-text {
                    display: flex;
                    box-sizing: border-box;
                    align-items: center;
                }
            </style>
            <div class="mdl-card__title mdl-color--teal-500 ">
                <h2 class="mdl-card__title-text mdl-color-text--white" style="justify-content: center">Search
                    Patient</h2>
            </div>

            <div class="mdl-grid" id="search_members">
                <!-- Wide card with share menu button -->
                <style>
                    .demo-card-wide.mdl-card {
                        width: 512px;
                    }

                    .demo-card-wide > .mdl-card__title {
                        color: #fff;
                        height: 176px;
                    {#            background: url('../assets/demos/welcome_card.jpg') center / cover;#}
                    }

                    .demo-card-wide > .mdl-card__menu {
                        color: #fff;
                    }
                </style>

                <div class="mdl-card full-width">
                    <script>
                        //Do ajax call for search box
                        function searchMembers(str) {

                            //ensure to remove previous prepended results to avoid duplicity
                            $('#search_table tbody').children().remove();

                            //string must not be empty or less than two characters
                            if (/\S/.test(str) && str.length > 1) {
                                $.ajax({
                                    url: "/registration/api/v1/patients/",
                                    type: "get",
                                    data: {

                                        search: str,
                                    },
                                    success: function (json) {
                                        console.log(json)
                                        if (json.length === 0) {
                                            $("#no_result").show()
                                            $('#searchresult').hide()

                                        } else {

                                            $("#no_result").hide()
                                            $('#searchresult').show()

                                            //ensure to remove previous prepended results to avoid duplicity
                                            $('#search_table tbody').children().remove();

                                            var tbody = $('#search_table tbody'), props = ["patient_no", "first_name", "last_name", "ss_number", "dob"]
                                            $.each(json, function (i, reservation) {
                                                var tr = $("<tr onclick=\"window.location.href='/registration/patient/existing/" + json[i].patient_no + "/'\">");
                                                $.each(props, function (i, prop) {
                                                    $('<td class="mdl-data-table__cell--non-numeric">').html(reservation[prop]).appendTo(tr);
                                                });
                                                tbody.append(tr);
                                            });

                                        }

                                    }

                                })
                            } else {

                                $("#no_result").hide()
                                $('#searchresult').hide()

                            }
                        }
                    </script>

                    <div class="mdh-expandable-search mdl-cell--hide-phone">
                        <i class="material-icons">search</i>
                        <input type="text" id="search" placeholder="Search existing patient" size="1"
                               onkeyup="searchMembers(this.value)">


                    </div>


                    <div id="no_result" style="display: none">
                        <div class="mdl-card__title mdl-card--expand">
                            <h2 class="mdl-card__title-text">No Results</h2>
                        </div>
                    </div>

                    <div id="searchresult" style="display: none">
                        <table id="search_table" class="mdl-data-table mdl-js-data-table ">
                            <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric full-width">Patient No</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>ID no</th>
                                <th>Date of Birth</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>

                <style>
                    .mdl-card {
                        min-height: 50px !important;
                    }
                </style>
                <div class="" style="width:100%; text-align: center">

                </div>
                <div class=" mdl-card" style="width:100%;">
                    <button type="submit"
                            onclick="window.location.href='{% url 'registration_patient_create' %}{{ patient.patient_no }}'"
                            class="btn-over">
                        Create New Patient
                    </button>
                </div>

            </div>


        </div>
        <div class="mdl-layout-spacer"></div>
    </div>


{% endblock %}